body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #C5E4E7;
  font-family: "Space Mono", sans-serif;
  font-size: 1.5em;
  padding: 50px 0 0 0;
  margin: 0;
}

.calculator-div {
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 50px;
  /*max-width: 900px;*/
}

p {
  font-size: .65em;
  font-weight: 700;
  padding: 0;
  color: #7F9C9F;
  margin-bottom: 5px;
}

.bill-input-div,
.people-input-div {
  background-color: #F4FAFA;
  border-radius: 5px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.bill-input-div img {
  width: 4%;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=number] {
  font-size: .95em;
  text-align: right;
  color: #004A4D;
  font-family: "Space Mono", sans-serif;
  background-color: #F4FAFA;
  border: none;
  font-weight: 700;
}

input[type=number]:focus {
  outline: none;
}

/*--- TIP SELECTION SECTION ---*/

.button-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 25px;
}

.button-grid button {
  font-size: .95em;
  padding: 7px 0;
  font-family: "Space Mono", sans-serif;
  margin: 5px 0;
  color: #F4FAFA;
  background-color: #004A4D;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  width: 48%;
}

.button-grid label {
  width: 47%;
}

.button-grid input {
  width: 100%;
  padding: 7px 10px 7px 0;
  border-radius: 5px;
}

/*===== OUTPUT SECTION - MOBILE ====== */

.output-section {
  background-color: #004A4D;
  width: 90%;
  padding: 25px 15px 15px 15px;
  border-radius: 15px;
}

.tip-output-section,
.total-output-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-section p {
  color: #F4FAFA;
  font-size: .6em;
}

.per-person {
  margin-top: 0;
}

p.per-person {
  font-size: .5em;
  color: #5E7A7D;
}

.tip-output-half span,
.total-output-half span {
  font-size: 1.75em;
  color: #26C0AB
}

.output-section button {
  width: 100%;
  font-family: "Space Mono", sans-serif;
  font-size: .7em;
  font-weight: 700;
  padding: 8px 0;
  margin: 25px 0 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #26C0AB;
  color: #004A4D;
}

@media (min-width: 1024px) {



  .calculator-div {
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    align-items: stretch;
  }

  .calculator-half {
    width: 45%;
  }

  .input-section {
    margin-right: 50px;
  }

  .button-grid {
    width: 100%;
  }

  .bill-input-div input,
  .people-input-div input {
    width: 100%;
  }

  .button-grid button {
    font-size: .75em;
    width: 32%;
  }



  .button-grid label {
    width: 32%;
  }

  .button-grid input[placeholder] {
    font-size: .75em;
    padding: 10px 0;
  }

  .people-input-div {
    margin-bottom: 0;
  }


  .total-output-section{
    margin-bottom: 100px;
  }

  .output-section {
    padding: 40px;
  }

  .tip-output-half span,
  .total-output-half span {
    font-size: 2em;
  }
}
